/* Global */
body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: "Exo 2";
  font-size: 12px;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #eb0e88;
  text-decoration: none;
}

/* Header */
header {
  align-items: center;
  display: flex;
  font-size: 1.5em;
  height: 50px;
  margin: auto;
  max-width: 80%;
  position: relative;
  width: 1140px;
  z-index: 100;
}

header a {
  margin-right: 40px;
}

/* Carousel */
.carousel {
  height: 100vh;
  margin-top: -50px;
  overflow: hidden;
  position: relative;
  width: 100vw;
}
.carousel .list .item {
  inset: 0 0 0 0;
  position: absolute;
}

.carousel .list .item img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.carousel .list .item .content {
  box-sizing: border-box;
  left: 50%;
  max-width: 80%;
  padding-right: 30%;
  position: absolute;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  top: 17%;
  transform: translateX(-50%);
  width: 1140px;
}

.carousel .list .item .author {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 3px;
}

.carousel .list .item .content .title {
  font-family: Cinzel;
  font-size: 4em;
  font-weight: bold;
}

.carousel .list .item .content .topic {
  color: #eb0e88;
  font-family: Cinzel;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.carousel .list .item .content .description {
  font-size: 1.3em;
  word-spacing: 2px;
  margin-top: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.carousel .list .item .content button {
  border: none;
  background-color: white;
  color: black;
  font-family: Cinzel;
  height: 50px;
  letter-spacing: 3px;
  margin-top: 30px;
  transition: 0.3s;
  width: 200px;
}

.carousel .list .item .content button:hover {
  background-color: #eb0e88;
  color: white;
}

.carousel .list .item:nth-child(1) {
  z-index: 1;
}

/* Animation Carousel */

.carousel .list .item:nth-child(1) .author,
.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .topic,
.carousel .list .item:nth-child(1) .description,
.carousel .list .item:nth-child(1) .button {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.carousel .list .item:nth-child(1) .author {
  animation-delay: 0.5s;
}

.carousel .list .item:nth-child(1) .title {
  animation-delay: 1s;
}

.carousel .list .item:nth-child(1) .topic {
  animation-delay: 1.2s;
}

.carousel .list .item:nth-child(1) .description {
  animation-delay: 1.5s;
}

.carousel .list .item:nth-child(1) .button {
  animation-delay: 2s;
}

/* Thumbnail */
.thumbnail {
  bottom: 50px;
  display: flex;
  gap: 20px;
  left: 50%;
  position: absolute;
  width: max-content;
  z-index: 100;
}

.thumbnail .item {
  flex-shrink: 0;
  height: 160px;
  position: relative;
  width: 120px;
}

.thumbnail .item img {
  border-radius: 15px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.thumbnail .item .content {
  bottom: 10px;
  left: 10px;
  position: absolute;
  right: 10px;
}

/* Arrows */

.arrows {
  align-items: center;
  bottom: 75px;
  display: flex;
  gap: 10px;
  max-width: 30%;
  position: absolute;
  right: 62%;
  width: 300px;
}

.arrows button {
  background-color: white;
  border-radius: 50%;
  border: none;
  font-family: Cinzel;
  font-size: large;
  font-weight: bold;
  height: 50px;
  transition: 0.5s;
  width: 50px;
  z-index: 100;
}

.arrows button:hover {
  background-color: #eb0e88;
  color: white;
}

/* animation buttons */

/* .arrows button {
  transform: translateY(50px);
  opacity: 0;
  animation: showButtons 0.5s 0.5s linear 1 forwards;
}

@keyframes showButtons {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.arrows button {
  animation-delay: 1s;
} */

/* Effect Next Click */
.carousel.next .list .item:nth-child(1) img {
  bottom: 50px;
  border-radius: 15px;
  left: 50%;
  height: 100px;
  position: absolute;
  width: 160px;
  animation: showImage 0.6s linear 1 forwards;
}

@keyframes showImage {
  to {
    bottom: 0;
    border-radius: 0;
    height: 100%;
    left: 0;
    width: 100%;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
  animation: showThumbnail 0.5s linear 1 forwards;
  overflow: hidden;
  width: 0;
}

@keyframes showThumbnail {
  to {
    width: 120px;
  }
}

.carousel.next .thumbnail {
  animation: transformThumbnail 0.5s linear 1 forwards;
  transform: translateX(150px);
}

@keyframes transformThumbnail {
  to {
    transform: translateX(0);
  }
}

/* Effect Previous Click */
.carousel.prev .list .item:nth-child(2) {
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: outImage 0.5s linear 1 forwards;
}

@keyframes outImage {
  to {
    bottom: 50px;
    border-radius: 15px;
    height: 160px;
    left: 50%;
    width: 120px;
  }
}
.carousel.prev .thumbnail .item:nth-child(1) {
  width: 0;
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}

.carousel.prev .list .item:nth-child(2) .author,
.carousel.prev .list .item:nth-child(2) .title,
.carousel.prev .list .item:nth-child(2) .topic,
.carousel.prev .list .item:nth-child(2) .description,
.carousel.prev .list .item:nth-child(2) .button {
  animation: contentOut 1.5s linear 1 forwards;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}

.carousel.next .arrows button,
.carousel.prev .arrows button {
  pointer-events: none;
}

/* Time */
.time {
  background-color: #eb0e88;
  height: 5px;
  left: 0;
  position: absolute;
  top: 0;
  width: 0%;
  z-index: 100;
}

.carousel.next .time,
.carousel.prev .time {
  width: 100%;
  animation: timeRunning 2s linear 1 forwards;
}
@keyframes timeRunning {
  to {
    width: 0;
  }
}

/* Responsive */

@media screen and (max-width: 678px) {
  .carousel .list .item .content {
    padding-right: 0;
  }

  .carousel .list .item .content .title {
    font-size: 30px;
  }
}
